ai21
ai21-tokenizer
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
attrs
azure-core
azure-identity
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama 
comm 
cryptography
dataclasses-json
debugpy 
decorator 
distro
executing
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
huggingface-hub
idna
ipykernel 
ipython 
jedi 
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core 
langchain
langchain-ai21
langchain-community
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
msal
msal-extensions
multidict
mypy-extensions
narwhals
nest-asyncio 
numpy
openai
orjson
packaging 
pandas
parso 
pillow
platformdirs 
portalocker
prompt-toolkit
psutil 
pure-eval
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments 
PyJWT
PyMuPDF
pypdf
python-dateutil 
python-dotenv
pytz
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
sentencepiece
setuptools
six 
smmap
sniffio
SQLAlchemy
stack-data
streamlit
tenacity
tiktoken
tokenizers
toml
tornado
tqdm
traitlets 
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
wcwidth
wheel
yarl
