<div class="chat-content">
    <!-- Conversa inicial do bot -->
    <div class="message-wrapper">

        <div class="bot-avatar"><img src="/static/img/assistant_avatar.png"></div>

        <div class="bot-message">
            Olá, <strong>{{usuario}}</strong>. Aqui é o <strong>Henrique</strong>, assistente virtual do RH. Primeiro, seja muito bem-vindo(a). Por aqui posso te ajudar com dúvidas sobre:
            <ul>
                {% for pratica in praticas_com_topicos %}
                    <li><strong>{{pratica}}</strong></li>
                {% endfor %}
            </ul>
            Como posso te ajudar?
        </div>

    </div>
    
   {% include 'parciais/msgs.html'%}
</div>